.game {
  font-size: .95rem;

  &__linkBox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-decoration: none;

    &:hover .game__title {
      padding-left: 10%;
    }
  }

  &__title, &__description {
    display: flex;
    align-items: center;
    margin: 1em var(--distance);
  }

  &__title {
    color: var(--mainTextColor);
    transition: padding .5s;
  }

  &__description {
    color: var(--secondaryTextColor);
  }

  @media (max-width: 768px) {
    &__title {
      margin-bottom: .5em;
    }
    &__linkBox {
      grid-template-columns: 1fr;
      margin-bottom: 1rem;

      &:hover .game__title {
        padding-left: 0;
      }
    }

    &__description {
      margin-top: 0;
    }
  }
  
}